div[class*="standardSidebarView_"] {
    div[class*="contentRegion_"] {
        div[class*="contentColumn_"] {
            div[class*="connectContainer_"] {
                background-color: var(--dnome-base);

                >div[class*="connectionsContainer_"] {

                    >div[class*="wrapper_"],
                    >div[class*="accountAddWrapper_"] {

                        >button[class*="inner_"],
                        >button[class*="accountAddInner_"] {
                            background-color: transparent;
                            border-radius: var(--dnome-border-small);

                            &:hover {
                                background-color: var(--dnome-list-item-hover);
                            }

                            &:active {
                                background-color: var(--dnome-list-item-selected);
                            }
                        }
                    }
                }
            }

            div[class*="connectionList_"] {
                >div[class*="connection_"] {
                    background-color: var(--dnome-base);
                    border-radius: var(--dnome-border-medium);

                    >div[class*="connectionHeader_"] {
                        background-color: var(--dnome-base);
                        border-radius: var(--dnome-border-medium);
                    }
                }
            }
        }
    }
}