div[class*="standardSidebarView_"] {
    div[class*="contentRegion_"] {
        div[class*="contentColumn_"] {
            >div>div>div[class*="children_"] {
                >div[class*="accountProfileCard_"] {
                    border-radius: var(--dnome-border-big);

                    >div[class*="userInfo_"] {
                        button {
                            border-radius: var(--dnome-border-small);

                            &:hover {
                                background-color: var(--dnome-accent-lighter) !important;
                            }
                        }
                    }

                    >div[class*="background_"] {
                        >div[class*="fieldList_"] {
                            background-color: var(--dnome-list-item-hover);

                            button[class*="fieldButton_"] {
                                border-radius: var(--dnome-border-small);
                                background-color: transparent;
                                color: var(--text-normal);

                                &:hover {
                                    background-color: var(--dnome-popup-hover);
                                    color: white;
                                }

                                &:active {
                                    background-color: var(--dnome-popup-selected);
                                    color: white;
                                }
                            }
                        }

                        background-color: var(--dnome-list-item-hover);
                    }
                }
            }
        }
    }
}