div[class*="standardSidebarView_"] {
    div[class*="contentRegion_"] {
        div[class*="contentColumn_"] {
            div[class*="profileCustomizationSection_"] {

                *:not([class*="birthdayFeatureBorder_"]) {
                    border-bottom: none;
                }

                input[class*="inputDefault_"] {
                    background-color: var(--dnome-searchbox);
                    border-radius: var(--dnome-border-medium);
                }

                div[class*="colorSwatch_"],
                div[class*="customSwatch_"] {
                    border-radius: var(--dnome-border-medium);
                }

                div[class*="bioTextArea_"] {
                    background-color: var(--dnome-searchbox);
                    border-radius: var(--dnome-border-medium);
                }
            }

            div[class*="tabBar_"] {
                border-color: var(--dnome-border);
            }

            div[class*="userPopoutOuter_"] {
                border-radius: var(--dnome-border-big);

                >div[class*="userPopoutInner_"] {
                    &::before {
                        border-radius: calc(var(--dnome-border-big) - 4px);
                    }

                    > svg[class*="bannerSVGWrapper_"] {
                        border-top-left-radius: calc(var(--dnome-border-big) - 4px);
                        border-top-right-radius: calc(var(--dnome-border-big) - 4px);
                    }

                    button[class*="button"] {
                        background-color: var(--dnome-popup-hover);

                        &:hover {
                            background-color: var(--dnome-popup-selected) !important;
                        }
                    }
                }
            }
        }
    }
}