div[class*="standardSidebarView_"] {
    div[class*="contentRegion_"] {
        div[class*="contentColumn_"] {
            section[class*="guildsSection_"] {
                >div[class*="guilds_"] {
                    >div[class*="cardWrapper_"] {
                        background-color: var(--dnome-base);
                        border-radius: var(--dnome-border-medium);

                        >div[class*="card_"] {
                            border-radius: var(--dnome-border-medium);
                        }

                        &:hover {
                            background-color: var(--dnome-list-item-hover);
                        }

                        &:active {
                            background-color: var(--dnome-list-item-selected);
                        }
                    }
                }
            }
        }
    }
}