div[class*="standardSidebarView_"] {
    div[class*="sidebarRegion_"] {
        div[class*="textBadge_"] {
            background-color: var(--background-accent) !important;
            border-radius: var(--dnome-border-small);
        }

        nav[class*="sidebar_"] {
            >div[class*="side_"] {
                >div[class*="item_"] {
                    border-radius: var(--dnome-border-small);
                    padding-top: 10.5px;
                    padding-bottom: 10.5px;

                    &:hover {
                        background-color: var(--dnome-list-item-hover);
                    }

                    &[class*="selected_"] {
                        background-color: var(--dnome-list-item-selected);

                        &:hover {
                            background-color: var(--dnome-list-item-hover-selected);
                        }
                    }
                }
            }
        }
    }
}