// The page you get by clicking the add friend button.
main[class*="container_"] {
    div[class*="tabBody_"] {
        >div[class*="peopleColumn_"] {
            div[class*="addFriendInputWrapper_"] {
                background-color: var(--dnome-searchbox);
                border-radius: var(--dnome-border-medium);
                border: none;

                >button[type="submit"] {
                    border-radius: var(--dnome-border-medium);

                    &:hover {
                        background-color: var(--dnome-accent-lighter);
                    }
                }
            }
        }
    }
}