@base: lighten(desaturate(#241f31, 100%), 2%);
@bg: darken(desaturate(#3d3846, 100%), 4%);
@sidebar: mix(@bg, @base, 50%);
@border: darken(@bg, 10%);
@dark_fill: mix(@border, @bg, 50%);
@scroll_bg: mix(@base, @bg, 50%);
@fg: #eeeeec;
@scrollbar_slider_color: mix(@fg, @bg, 60%);
@selected_bg_color: darken(#3584e4, 20%);
@link_color: lighten(@selected_bg_color, 20%);
@text_color: #ffffff;

.theme-dark {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: @text_color;
    --text-muted: #72767d;
    --text-link: @link_color;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: @bg;
    --background-secondary: @base;
    --background-secondary-alt: @sidebar;
    --background-tertiary: @dark_fill;
    --background-accent: #4f545c;
    --background-floating: #18191c;
    --background-mobile-primary: @bg;
    --background-mobile-secondary: @base;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-mentioned: rgba(250,166,26,0.05);
    --background-mentioned-hover: rgba(250,166,26,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --background-help-warning: rgba(250,166,26,0.1);
    --background-help-info: rgba(0,176,244,0.1);
    --scrollbar-thin-thumb: @scrollbar_slider_color;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: @scrollbar_slider_color;
    --scrollbar-auto-track: @scroll_bg;
    --scrollbar-auto-scrollbar-color-thumb: @scrollbar_slider_color;
    --scrollbar-auto-scrollbar-color-track: @base;
    --radio-group-dot-foreground: #8ea1e1;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: @base;
    --logo-primary: rgb(250, 0, 0);
    --focus-primary: #f400e8;
    --activity-card-background: @dark_fill;
    --textbox-markdown-syntax: @link_color;
}