@base: lighten(desaturate(#241f31, 100%), 2%);
@bg: darken(desaturate(#3d3846, 100%), 4%);
@sidebar: mix(@bg, @base, 50%);
@border: darken(@bg, 10%);
@dark_fill: mix(@border, @bg, 50%);
@scroll_bg: mix(@base, @bg, 50%);
@fg: #eeeeec;
@scrollbar_slider_color: mix(@fg, @bg, 60%);
// @accent: #3584e4;
@accent: darken(#3584e4, 10%);
@link_color: lighten(@accent, 20%);
@text_color: #ffffff;
@warning: #f57900;

.theme-dark {
  --text-normal: @text_color;
  --background-primary: @bg;
  --background-secondary: @base;
  --background-secondary-alt: @sidebar;
  --background-tertiary: @dark_fill;
  --background-accent: @accent;
  --background-floating: @dark_fill;
  --background-mobile-primary: @bg;
  --background-mobile-secondary: @base;
  --background-modifier-selected: @bg;
  --background-modifier-accent: @dark_fill;
  --background-mentioned: fade(@warning, 5%);
  --background-mentioned-hover: fade(@warning, 8%);
  --background-message-hover: fade(@dark_fill, 30%);
  --background-help-warning: fade(@warning, 10%);
  --background-help-info: fade(@accent, 10%);
  --scrollbar-thin-thumb: @scrollbar_slider_color;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: @scrollbar_slider_color;
  --scrollbar-auto-track: @scroll_bg;
  --scrollbar-auto-scrollbar-color-thumb: @scrollbar_slider_color;
  --scrollbar-auto-scrollbar-color-track: @base;
  --channeltextarea-background: @base;
  --logo-primary: @accent;
  --focus-primary: @accent;
  --activity-card-background: @dark_fill;
  --textbox-markdown-syntax: @accent;
}

div[class*="mentioned-"]::before {
  background-color: @warning;
}

.theme-dark {
  div[class*="autocomplete-"],
  div[class*="root-"],
  div[class*="tierHeaderLocked-"] {
    background-color: @dark_fill;
  }
  div[class*="selectable-"],
  div[class*="perksModal"] {
    background-color: @base;
  }
  div[class*="selected-"],
  div[class*="tierBody"],
  li[class*="perk-"] {
    background-color: @bg;
  }
  div[class*="uploadModal"] {
    background-color: var(--background-primary);
    > div[class*="footer"] {
      background-color: var(--background-tertiary);
    }
  }
  div[class*="peopleColumn-"] {
    background-color: var(--background-primary);
  }
}

div[class*="colorDefault"] {
  &:hover,
  &[class*="focused"] {
    background-color: @accent;
  }
  &:active {
    background-color: darken(@accent, 10%) !important;
  }
}

[class*="lookFilled"][class*="colorBrand"] {
  background-color: @accent !important;
}

// Dear Discord, the Nitro tab should be the same color as the rest
// Shady capitalism tactics <3
div[aria-controls="Discord Nitro-tab"] {
  &[aria-selected="false"] {
    color: var(--interactive-normal) !important;
    &[style*="background-color"] {
      background-color: var(--background-modifier-hover) !important;
    }
  }
  &[aria-selected="true"] {
    background-color: var(--background-modifier-selected) !important;
  }
}

div[class*="control"] > div[style*="background-color: rgb(67, 181, 129)"] {
  background-color: @accent !important;
}

circle[class*="radioIconForeground"] {
  color: @accent;
}

div[class*="wrapper"][class*="selected"],
div[class*="wrapper"]:hover {
  > div[class*="childWrapper"] {
    background-color: @accent !important;
  }
}

div[class*="folder-"],
span[class*="expandedFolderBackground"] {
  background-color: var(--background-primary);
}

div[class*="itemCard-"] {
  > div > div[class*="body"] {
    background-color: @bg;
  }
  &:hover {
    background-color: darken(@base, 5%) !important;
  }
}

div[class*="checkbox"] {
  &[class*="checked"] {
    border-color: @accent !important;
    > svg > path {
      fill: @accent;
    }
  }
}

div[class*="newMessagesBar"],
div[class*="topSectionPlaying"] {
  background-color: @accent;
}

svg[class*="premiumIcon"] {
  color: @accent;
}

div[style*="background-color: rgb(67, 181, 129)"] {
  background-color: @accent !important;
}

#search-results {
  background-color: @base;
  div[role="option"] {
    &:hover,
    &[aria-selected="true"] {
      background-color: @dark_fill;
    }
    &:after {
      background: transparent;
    }
  }
}

div[class*="modal"][class*="small"] {
  background-color: @base;
  > div[class*="footer"] {
    background-color: @dark_fill;
  }
}

div[class*="userPopout"] {
  div[class*="headerNormal"] {
    background-color: @dark_fill;
  }
  div[class*="headerPlaying"] {
    background-color: @accent;
  }
  > div[class*="body"],
  div[class*="footer"],
  div[class*="root"][aria-label*="Role"] {
    background-color: @bg;
  }
  input {
    border-color: @accent !important;
  }
}

span[class*="botTag"] {
  background-color: @accent;
}


