div[class*="standardSidebarView_"] {
    div[class*="contentRegion_"] {
        div[class*="contentColumn_"] {
            >div[class*="customColumn_"] {
                >div[class*="customContainer_"] {
                    >div[class*="customScroller_"] {
                        >div[class*="content_"] {
                            >div[class*="roleRow_"] {
                                border-radius: var(--dnome-border-big);

                                div[class*="buttonsContainer_"] {
                                    >div[class*="circleButton_"] {
                                        background-color: var(--dnome-popup-hover);

                                        &:hover {
                                            background-color: var(--dnome-popup-selected);
                                        }
                                    }
                                }
                            }

                            >div {
                                >div[class*="container_"][role="button"] {
                                    border-radius: var(--dnome-border-big);

                                    >div[class*="icon_"] {
                                        background-color: var(--dnome-list-item-hover-selected);
                                    }
                                }

                                >div>div[class*="searchContainer_"] {
                                    >div[class*="container_"] {
                                        background-color: var(--dnome-searchbox);
                                        border-radius: var(--dnome-border-medium);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}