div[class*="mentioned-"]::before {
  background-color: var(--dnome-warning);
}

[class*="lookFilled"][class*="color"]:not([class*="colorPrimary"]) {
  background-color: var(--dnome-accent) !important;
}

div[class*="control"] > div[style*="background-color: rgb(67, 181, 129)"] {
  background-color: var(--dnome-accent) !important;
}

circle[class*="radioIconForeground"] {
  color: var(--dnome-accent);
}

div[class*="checkbox"] {
  &[class*="checked"] {
    border-color: var(--dnome-accent) !important;
    > svg > path {
      fill: var(--dnome-accent);
    }
    &[style*="background-color: rgb(114, 137, 218)"] {
      background-color: var(--dnome-accent) !important;
      > svg > path {
        fill: #ffffff;
      }
    }
  }
}

div[class*="newMessagesBar"],
div[class*="topSectionPlaying"] {
  background-color: var(--dnome-accent);
}

svg[class*="premiumIcon"] {
  color: var(--dnome-accent);
}

button[class*="shinyButton"]
  > div[class*="premiumSubscribeButton"]
  > svg[class*="premiumIcon"] {
  color: #fff;
}

div[class*="tipTitle"] {
  color: var(--dnome-accent);
}

div[class*="colorPremium"] {
  svg[class*="icon-"] {
    color: var(--dnome-accent);
  }
}

span[class*="botTag-"] {
  background-color: var(--dnome-accent);
  &[class*="botTagInvert-"] {
    background-color: #fff;
    color: var(--dnome-accent);
  }
}

span[class*="wrapper-"][class*="mention"] {
  color: var(--dnome-link-color);
  background-color: var(--background-help-info);
  &:not([class*="hideInteraction"]):hover {
    color: var(--dnome-link-color) !important;
  }
}

div[class*="warning"] {
  border-color: var(--dnome-warning);
}

div[class*="barFill"] {
  background-color: var(--dnome-accent);
}

div[class*="progressContainer"] > div > div[class*="progressBar"] {
  background-color: var(--dnome-accent) !important;
}

div[class*="isUnread"] {
  border-color: var(--dnome-accent);
  > span[class*="unreadPill"] {
    background-color: var(--dnome-accent);
    > svg > path[class*="unreadPillCap"] {
      color: var(--dnome-accent);
      fill: var(--dnome-accent);
    }
  }
}

div[class*="circleIconButton"] {
  color: var(--dnome-accent);
  &[class*="selected"] {
    background-color: var(--dnome-accent) !important;
  }
}

button[class*="buttonColor"] {
  color: #ffffff !important;
}

div[class*="uploadModalIn-"] div[class*="uploadDropModal-"] {
  div[class*="bgScale-"] {
    background-color: var(--dnome-accent);
  }
  &[class*="error-"] {
    background-color: var(--dnome-error);
    div[class*="instructions"] {
      color: #ffffffee;
    }
  }
}

div[class*="reactionMe"] {
  background-color: var(--dnome-faded-accent) !important;
}

div[class*="notice-"] {
  background-color: var(--dnome-accent);
  &[class*="colorBrand"] {
    color: #fff;
  }
}

div[class*="fakeButton-"] {
  background-color: var(--dnome-accent);
}

svg[class*="iconTierThree-"] {
  color: #fff;
}

div[class*="flowerStarContainer"] {
  > svg[class*="flowerStar"] {
    > path {
      fill: var(--dnome-accent);
    }
  }
}
