#search-results {
  background-color: var(--dnome-base);
  div[role="option"] {
    &:hover,
    &[aria-selected="true"] {
      background-color: var(--dnome-dark-fill);
    }
    &:after {
      background: transparent;
    }
  }
}

div[class*="modal"][class*="small"] {
  background-color: var(--dnome-base);
  > div[class*="footer"] {
    background-color: var(--dnome-dark-fill);
  }
}

div[class*="userPopout"] {
  div[class*="headerNormal"] {
    background-color: var(--dnome-dark-fill);
  }
  div[class*="headerPlaying"] {
    background-color: var(--dnome-accent);
  }
  > div[class*="body"],
  div[class*="footer"],
  div[class*="root"][aria-label*="Role"] {
    background-color: var(--dnome-bg);
  }
  input {
    border-color: var(--dnome-accent) !important;
  }
}

div[role="dialog"] > div[class*="root-"] {
  background-color: var(--background-primary);
  > form > div[class*="footer"] {
    background-color: var(--background-tertiary);
  }
}
