// .theme-dark,
// .theme-light {
//   div[class*="autocomplete-"],
//   div[class*="tierHeaderLocked-"] {
//     background-color: var(--dnome-dark-fill);
//   }
//   div[class*="selectable-"],
//   div[class*="perksModal"] {
//     background-color: var(--dnome-base);
//   }
//   div[class*="autocompleteRowVertical"]
//     > div[class*="selectable-"][class*="selected-"] {
//     background-color: var(--dnome-bg) !important;
//   }
//   div[class*="selected-"]:not([class*="overviewStep-"],[class*="premiumLabel-"],[class*="tabBarItem"], [class*="gifFavoriteButton"], [class*="listItemWrapper-"], [class*="interactiveSelected"]),
//   div[class*="tierBody"],
//   ul[class*="perks"] > li[class*="perk-"] {
//     background-color: var(--dnome-bg);
//   }
//   div[class*="uploadModal-"] {
//     background-color: var(--background-primary);
//     > div[class*="footer"] {
//       background-color: var(--background-tertiary);
//     }
//   }
//   div[class*="peopleColumn-"] {
//     background-color: var(--background-primary);
//   }
// }

// div[class*="tierHeaderLocked-"] {
//       background-color: var(--dnome-dark-fill);
//     }

div[class*="wrapper"][class*="selected"],
div[class*="wrapper"]:hover {
  > div[class*="childWrapper"] {
    background-color: var(--dnome-accent) !important;
  }
}

div[class*="itemCard-"] {
  > div > div[class*="body"] {
    background-color: var(--dnome-bg);
  }
  &:hover {
    background-color: var(--dnome-darker-base) !important;
  }
}

div[style*="background-color: rgb(67, 181, 129)"] {
  background-color: var(--dnome-accent) !important;
}

div[class*="selectedCategoryItem"][class*="categoryItem"]
  > div[class*="itemInner"] {
  background-color: var(--dnome-accent);
}

button[class*="button-"][class*="lookOutlined-"] {
  &:hover {
    background-color: var(--dnome-accent);
  }
  border-color: var(--dnome-accent);
}
