// Global styles that can proabably be found many pages and components.

// Checkboxes.
div[class*="checkbox"] {
    &[class*="checked"] {
        border-color: var(--dnome-accent) !important;
        background-color: var(--dnome-accent) !important;

        >svg>path {
            fill: white;
        }

        &[style*="background-color: rgb(114, 137, 218)"] {
            background-color: var(--dnome-accent) !important;

            >svg>path {
                fill: #ffffff;
            }
        }
    }
}

// Tooltips
div[class*="tooltip_"] {
    border-radius: var(--dnome-border-medium);
}

// Usually Discord branded buttons.
div[class*="colorBrand"] {
    color: var(--dnome-accent);
}

// All sidebars.
div[class*="sidebar_"] {
    border-right: 1px solid var(--dnome-border);
    border-left: 1px solid var(--dnome-border);
}

div[class*="standardSidebarView_"] {
    div[class*="sidebarRegion_"] {
        border-right: 1px solid var(--dnome-border);
    }

    div[class*="contentRegion_"] {
        div[class*="contentColumn_"] {
            div[class*="section_"] {
                >div[class*="card_"] {
                    background-color: var(--dnome-base);
                    border-radius: var(--dnome-border-medium);
                }
            }

            div[class*="applicationPermissions_"] {
                >div[class*="card_"] {
                    border-radius: var(--dnome-border-medium);
                    background-color: var(--dnome-base);

                    &:hover {
                        background-color: var(--dnome-list-item-hover);
                    }

                    >div[class*="cardHeader"] {
                        border-radius: var(--dnome-border-medium);
                        background-color: transparent;
                    }

                    div[class*="entryActions_"] {
                        >div[role="radiogroup"] {
                            border-radius: var(--dnome-border-medium);

                            >div[role="radio"] {
                                background-color: var(--dnome-list-item-selected);

                                &:hover {
                                    background-color: var(--dnome-list-item-hover-selected);
                                }
                            }
                        }
                    }
                }
            }

            div[class*="container_"][class*="warning_"] {
                border-radius: var(--dnome-border-medium);
            }

            div[class*="inputWrapper_"] {
                >input[class*="inputDefault_"] {
                    background-color: var(--dnome-searchbox);
                    border-radius: var(--dnome-border-medium);
                }

                >div[class*="inputMaxLength_"] {
                    >textarea[class*="inputDefault_"] {
                        background-color: var(--dnome-searchbox);
                        border-radius: var(--dnome-border-medium);
                    }
                }
            }

            div[class*="formNotice_"] {
                border-color: var(--dnome-border);
                border-radius: var(--dnome-border-medium);
            }

            div[role="radiogroup"] {
                >div[class*="item_"] {
                    >div[class*="radioBar_"] {
                        border-radius: var(--dnome-border-medium);
                        border: 1px solid var(--radio-bar-accent-color);
                    }

                    &[class*="itemFilled_"] {
                        background-color: transparent;
                        border-radius: var(--dnome-border-medium);

                        &:hover {
                            background-color: var(--dnome-list-item-hover);
                        }

                        &:active,
                        &[aria-checked="true"] {
                            background-color: var(--dnome-list-item-selected);
                        }

                        &[aria-checked="true"]:hover {
                            background-color: var(--dnome-list-item-hover-selected);
                        }
                    }
                }
            }

            div[class*="select_"] {
                background-color: var(--dnome-searchbox);
                border-radius: var(--dnome-border-medium);
            }

            button[class*="button_"][class*="lookFilled_"] {
                border-radius: var(--dnome-border-small);

                >div[class*="upsellButton_"] {
                    color: white;
                }

                svg[class*="premiumIcon"] {
                    color: white;
                }

                &:hover {
                    background-color: var(--dnome-accent-lighter) !important;
                }

                &[class*="colorRed"] {
                    border-color: var(--dnome-error);

                    &:hover {
                        background-color: var(--dnome-error) !important;
                    }
                }
            }

            button[class*="button_"] {
                border-radius: var(--dnome-border-small);

                &[class*="lookFilled_"] {
                    &:hover {
                        background-color: var(--dnome-accent-lighter) !important;
                    }
                }

                &[class*="lookOutlined_"][class*="colorRed"] {
                    border-color: var(--dnome-error);

                    &:hover {
                        background-color: var(--dnome-error) !important;
                    }
                }
            }
        }
    }
}

// Buttons that are filled but not "primary".
[class*="lookFilled"][class*="color"]:not([class*="colorPrimary"], [class*="colorRed"]) {
    background-color: var(--dnome-accent) !important;
    border-radius: var(--dnome-border-medium);
    color: white !important;

    div[class*="ctaButtonText_"] {
        color: unset;
    }

    &:hover {
        background-color: var(--dnome-accent-lighter) !important;
    }
}

[class*="lookFilled"] {
    border-radius: var(--dnome-border-medium);

    &[class*="colorWhite"]>div {
        color: white;
    }
}

// Buttons that are outlined instead of filled.
button[class*="button_"][class*="lookOutlined_"] {
    &:hover {
        background-color: var(--dnome-accent);

        // Can be red for danger, white for nitro etc.
        border-color: transparent !important;
    }
}