// Removes dark patterns from Discord.

// Tabs don't get special colors.
div[aria-controls="Discord Nitro-tab"],
div[aria-controls="GUILD_PREMIUM-tab"] {
  &[aria-selected="false"] {
    color: var(--interactive-normal) !important;

    &[style*="background-color"] {
      background-color: var(--background-modifier-hover) !important;
    }
  }

  &[aria-selected="true"] {
    color: var(--interactive-active) !important;
    background-color: var(--background-modifier-selected) !important;
  }

  >div>svg[class*="icon-"] {
    display: none !important;
  }
}

// Removes the gift button
// from the message bar.
div[class*="buttons-"] {
  >button[class*="colorBrand-"]:not([class*="expression-"]) {
    display: none;
  }
}

// Removes sparkles svgs,
// used sometimes around nitro
// buttons and headers.
svg[class*="sparkleStar"],
svg[class*="sparkle-"] {
  display: none;
}

// Removes purple borders around
// Nitro features.
div[class*="premiumFeatureBorder-"] {
  background: transparent;

  >div[class*="background-"] {
    background: transparent;
  }
}

// Removes accent color on tab.
div[class*="premiumTab-"] {
  > div[class*="premiumLabel-"] {
    > svg {
      display: none;
    }
  }
  >div[class*="selectedBackground-"] {
    background-color: var(--dnome-list-item-selected);
    border-radius: 6px;

    &:hover {
      background-color: var(--dnome-list-item-hover-selected);
    }
  }
}

// Light mode override,
// since we remove the special tab colors,
// the nitro icon is still white.
html[class*="theme-light"] {
  div[class*="sidebarRegion-"] {
    &:not([class*="theme-dark"]) {
      div[class*="premiumTab-"] {
        &[class*="selected-"] {
          color: black;

          svg,
          path {
            fill: black;
          }

          * {
            color: black;
          }
        }
      }
    }
  }
}

// Removes the "special invite backgrounds"
// promo on invite creation popup.
div[class*="inviteBannerUpsell-"] {
  display: none;
}

// Removes icon next to tab
// disabled for now
// div[class*="serverBoostTabItem-"] {
//   svg {
//     display: none;
//   }
// }

// Removes the nitro tab below Friends
// as there's a nitro tab
// literally everywhere.
div[class*="sidebar-"] {
  >nav[class*="privateChannels-"] {
    >div[class*="scroller-"] {
      >ul[role="list"] {
        >li[class*="channel-"] {
          >div>a[href="/store"] {
            display: none;
          }
        }
      }
    }
  }
}

// Removes the "Buy Nitro" button
// shine animation.
div[class*="shineContainer"] {
  display: none;
}

:root {
  --premium-tier-2-pink-for-gradients: inherit;
  --premium-tier-2-purple-for-gradients: inherit;
  --premium-tier-2-pink-for-gradients-2: inherit;
}

[class*="birthdayFeatureBorder-"] {
  border-color: @accent;
  background: transparent;
  [class*="birthdayBackground-"] {
    background: transparent;
  }
}

[class*="limitedTimeBadge-"] {
  background-color: var(--dnome-popup-hover) !important;
  background: var(--dnome-popup-hover);
}

[class*="isBurstReactionPicker-"] {
  border: none;
  box-shadow: var(--elevation-high);
  -webkit-box-shadow: var(--elevation-high) !important;
}