// The member list at the right panel.
div[class*="chat_"] {
    >div[class*="content_"] {
        >div[class*="membersWrap_"] {
            div[class*="member_"] {
                >div[class*="layout_"] {
                    border-radius: var(--dnome-border-small);

                    &:hover {
                        background-color: var(--dnome-list-item-hover);
                    }

                }

                &[aria-expanded="true"] {
                    >div[class*="layout_"] {
                        background-color: var(--dnome-list-item-selected);

                        &:hover {
                            background-color: var(--dnome-list-item-hover-selected);
                        }
                    }
                }
            }
        }
        >div[class*="container_"] {
            border-left: 1px solid var(--dnome-border);

            >aside[class*="membersWrap_"] {
                div[class*="member_"] {
                    >div[class*="layout_"] {
                        border-radius: var(--dnome-border-small);

                        &:hover {
                            background-color: var(--dnome-list-item-hover);
                        }
                    }

                    &[class*="selected_"] {
                        >div[class*="layout_"] {
                            background-color: var(--dnome-list-item-selected);

                            &:hover {
                                background-color: var(--dnome-list-item-hover-selected);
                            }
                        }
                    }
                }
            }
        }
    }
}