// The searchbar at the top right.
div[class*="toolbar_"]:not([id="slate-toolbar"]) { // NOT the message format toolbar.
    height: 100%;

    >div[class*="search_"] {
        height: 70%;

        >div[class*="search_"] {
            height: 100%;

            &[class*="focused_"] {
                >div[class*="searchBar_"] {
                    border: 2px solid var(--dnome-accent-soft);
                }
            }

            &:not([class*="focused_"]) {
                >div[class*="searchBar_"] {
                    border: 2px solid transparent;
                }
            }

            >div[class*="searchBar_"] {
                align-items: center;

                >div[class*="DraftEditor-root"] {
                    >div[class*="public-DraftEditorPlaceholder-root"] {
                        padding-bottom: 0;
                        height: calc(100% - 4px);
                        display: inline-flex;
                        align-items: center;
                    }

                    >div[class*="DraftEditor-editorContainer"] {
                        >div[class*="public-DraftEditor-content"] {
                            div[class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"] {
                                span[class*="search"] {
                                    background-color: transparent;
                                    font-weight: bold;
                                    text-decoration: underline;
                                }
                            }

                            >div {
                                height: 100%;

                                >div {
                                    height: 100%;
                                    display: inline-flex;
                                    align-items: center;

                                }
                            }
                        }

                    }
                }

                border-radius: var(--dnome-border-small);
                background-color: var(--dnome-searchbox);
            }
        }
    }
}