// Context menus (right-click).
div[class*="layerContainer_"] {
    div[class*="menu_"][role="menu"] {
        >div[class*="scroller_"] {
            >div[class*="wrapper_"][role="group"] {
                >div[id*="message-quickreact_"][role="menuitem"] {
                    >div[class*="button"] {
                        background-color: transparent;

                        &:hover {
                            background-color: var(--dnome-popup-hover);
                        }

                        &:active {
                            background-color: var(--dnome-popup-selected);
                        }
                    }
                }
            }

            >div[role="group"]:not([class*="wrapper_"]) {

                >div[class*="item_"],
                >div>div[class*="item_"] {

                    // Invite button
                    &[class*="colorBrand_"]:not([id="guild-header-popout-invite-people"]) {
                        color: var(--interactive-normal);

                        &:hover {
                            color: white;
                        }
                    }

                    &:not([id*="account-divider_"]) {
                        height: 41px;
                        border-radius: var(--dnome-border-medium);
                    }
                }

                div[class*="submenuPaddingContainer_"] {
                    >div[class*="submenu_"] {
                        border-radius: var(--dnome-border-big);

                        >div>div[class*="item_"] {
                            min-height: 41px;
                            border-radius: var(--dnome-border-medium);
                        }
                    }
                }
            }

            >div[class*="separator_"][role="separator"] {
                display: none;
            }
        }
    }

    div[class*="labelContainer_"][class*="item_"] {
        border-radius: var(--dnome-border-medium);

        &[role="menuitem"] {
            min-height: 41px;
        }

        &[class*="focused_"] {
            background-color: var(--dnome-popup-hover);
        }
    }
}