div[class*="layerContainer_"] {
    >div[class*="layer_"] {
        >form {
            >div[class*="focusLock_"] {
                >div[class*="modal_"] {
                    >div {
                        div[class*="inputWrapper_"] {
                            >input[class*="inputDefault_"] {
                                background-color: var(--dnome-searchbox);
                                border-radius: var(--dnome-border-medium);
                            }
                        }

                        div[class*="searchBox_"] {
                            >div[class*="searchBar_"] {
                                background-color: var(--dnome-searchbox);
                                border-radius: var(--dnome-border-medium);

                                >div[class*="inner_"] {
                                    background-color: var(--dnome-searchbox);
                                    border-radius: var(--dnome-border-medium);

                                    >a[class*="anchor_"][class*="tag_"] {
                                        border-radius: 4px;
                                    }

                                    >input[role="combobox"][aria-haspopup="listbox"] {
                                        background-color: var(--dnome-searchbox);
                                        border-radius: var(--dnome-border-medium);
                                    }
                                }
                            }
                        }

                        div[role="radiogroup"] {
                            >div[class*="item_"] {
                                >div[class*="radioBar_"] {
                                    border-radius: var(--dnome-border-medium);
                                    border: 1px solid var(--radio-bar-accent-color);
                                }

                                &[class*="itemFilled_"] {
                                    background-color: transparent;
                                    border-radius: var(--dnome-border-medium);

                                    &:hover {
                                        background-color: var(--dnome-list-item-hover);
                                    }

                                    &:active,
                                    &[aria-checked="true"] {
                                        background-color: var(--dnome-list-item-selected);
                                    }

                                    &[aria-checked="true"]:hover {
                                        background-color: var(--dnome-list-item-hover-selected);
                                    }
                                }
                            }
                        }

                        div[class*="footer_"] {
                            background-color: var(--dnome-base);
                            box-shadow: none;
                            border-top: 1px soild var(--dnome-border);
                            border-bottom-left-radius: var(--dnome-border-big);
                            border-bottom-right-radius: var(--dnome-border-big);

                            >button[class*="footerButton_"] {
                                border-radius: var(--dnome-border-medium);

                                background-color: var(--dnome-accent);

                                &:hover {
                                    background-color: var(--dnome-accent-lighter);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}